<li>
  <span class="user">
    <%= link_to image_tag("/upload/video.jpg"), video_user_advertising_path(current_user.id, advertising.id) %>
    <%= link_to image_tag("encuesta.png"), encuesta_user_advertising_path(current_user.id, advertising.id) %>
  </span>
  <span class="content">N°encuestas : <%= advertising.numEncuestas %></span>
</li>
