<% provide(:title, 'Video') %>
<div class="video_div">
    <div id="video">
        <hidden_field id="video_url"><%= @advertising.pathContenido %></hidden_field>
        <hidden_field id="advertisingId"><%= @advertising.id %></hidden_field>
    </div>
</div>