<li>
  <span class="content">
      <%= link_to user.nombre, user %>
  </span>
  <% if current_user.idTipoUsuario == 1 && !current_user?(user) %>
      <%= link_to "Ver Publicidades", advertisings_path(:id => user.id) %>
      |  <%= link_to "Crear Publicidad", new_advertising_path(:id => user.id) %>
      | <%= link_to "Borrar", user, method: :delete,
                    data: { confirm: "Esta seguro de eliminar al usuario?" } %>
  <% end %>
</li>