<% provide(:title, '') %>
<div class="row">
  <% if @user.idTipoUsuario == 1 %>
      <%= render :partial => 'users/admin',locals: { user: @user }%>
  <% elsif @user.idTipoUsuario == 2 %>
      <%= render :partial => 'users/usuario',locals: { advertisings: @advertisings, user: @user }%>
  <% elsif @user.idTipoUsuario == 3%>
      <%= render :partial => 'users/cliente',locals: { advertisings: @advertisings, user: @user }%>
  <% end %>
</div>