@import "bootstrap";

$grayMediumLight: #eaeaea;

.navbar{
  height: auto;
  .navbar-inner {
    .container{
      padding-top: 0px;
      .dropdown-menu{
        background-color: $white;
        a {
          color: $black;
          &:hover {
            color: $grayDarker;
          }
        }
      }
      a {
        margin-top: 10px;
        color: $white;
        &:hover {
          color: $grayDarker;
        }
      }
    }
    background-color: #94C11F;
    background-image: none;
  }
}

.container{
  padding-top: 50px;
}

.hero-unit {
  background-color: #E2EDC5;
}

.topHeader{
  position:relative;
  background-color: #FFFFFF;
  width: 100%;
}

.topH{
  padding-left: 78%;
}

.btn-primary {
  background-color: hsl(81, 79%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0f291", endColorstr="#7eb615");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d0f291), to(#7eb615));
  background-image: -moz-linear-gradient(top, #d0f291, #7eb615);
  background-image: -ms-linear-gradient(top, #d0f291, #7eb615);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0f291), color-stop(100%, #7eb615));
  background-image: -webkit-linear-gradient(top, #d0f291, #7eb615);
  background-image: -o-linear-gradient(top, #d0f291, #7eb615);
  background-image: linear-gradient(#d0f291, #7eb615);
  border-color: #7eb615 #7eb615 hsl(81, 79%, 31%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
  -webkit-font-smoothing: antialiased;
}

.logoPrincipal{
  float: left;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* advertisings */

.advertisings {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.preguntas {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.select_date {
  select{
    width: 32.69%;
    display: inline;
  }
}

.filtro_edad {
  select{
    width: 20%;
  }
}

.sexo,.contenido {
  margin-bottom: 15px;
  input,label{
    width: 32.69%;
    display: inline;
  }
}

.contenidoAlternativas{
  margin-bottom: 15px;
  input,label{
    width: 10%;
    display: inline;
  }
}

.filtro_sexo {
  margin-bottom: 15px;
  input,label{
    width: 20.00%;
    display: inline;
  }
}

#saldo{
  color: limegreen;
}

.video_div{
  position: relative;
  left: 50%;
  margin-left: -400px;
}

.encuesta{
  width: 100%;
}