<footer class="footer">
  <small>
    <%= link_to "YoTePago.cl",   root_path %></li>
    by YTP Prod.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de...",   about_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
    </ul>
  </nav>
</footer>